html {
  background: #FFFFFF;
  color: navy;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Astloch', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
    line-height: 16px;
  }
}

body {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  border: 2px solid palegoldenrod;
}

.navbar ul {
  border: 2px solid purple;
  padding: 0;
  list-style-type: none;
}

.navbar li {
  float: left;
  text-decoration: none;
  padding: 20px 32px 88px;
  border: 2px solid green;
  width: 60px;
}

.navbar li a {
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid red;
  font-size: 16px;
  line-height: 22px;
}

@media only screen and (max-width: 768px) {
  .navbar li a {
    font-size: 14px;
    line-height: 20px;
  }
}

.navbar li a:hover {
  text-decoration: underline;
  color: #844646;
}

section {
  width: 100%;
  height: auto;
  border: 2px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section h2 {
  font-family: 'Astloch', cursive;
  font-weight: 100;
  color: #844646;
}

#hero-logo {
  height: 300px;
}

#home {
  border: 2px solid blue;
  background-image: url("../../Assets/banner-toast.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: orange;
  color: orange;
  min-height: 800px;
}

#about {
  color: green;
  background-color: greenyellow;
}

#eatIt {
  color: pink;
}

#pairIt {
  color: lightcoral;
}

#newsletter {
  color: lightblue;
}

.logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#footer-logo {
  fill: #844646;
}

#test-footer {
  fill: purple;
  stroke: orange;
}
