html {
  background: #FFFFFF;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
}

.navbar ul {
  margin: 0;
  overflow: hidden;
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  text-decoration: none;
  padding: 20px 32px 88px;
}

.navbar li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 22px;
}

@media only screen and (max-width: 768px) {
  .navbar li a {
    font-size: 14px;
    line-height: 20px;
  }
}

.navbar li a:hover {
  text-decoration: underline;
  color: #844646;
}

section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section h2 {
  font-family: 'Astloch', cursive;
  color: #844646;
  font-size: 16px;
  line-height: 22px;
}

@media only screen and (max-width: 768px) {
  section h2 {
    font-size: 14px;
    line-height: 20px;
  }
}

#home {
  border: 2px solid blue;
  background-image: url("../../Assets/banner-toast.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
}

#about {
  color: green;
  background-color: greenyellow;
}

#eatIt {
  color: pink;
}

#pairIt {
  color: lightcoral;
}

#newsletter {
  color: lightblue;
}

.logo-invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#nav-logo {
  width: 39.62px;
  fill: #FFFFFF;
  margin-bottom: -10px;
}

#nav-logo :hover {
  fill: #844646;
}

#footer-logo {
  fill: #844646;
}

#hero-texture {
  position: relative;
}

#hero-logo {
  height: 487px;
  width: 376px;
}
