// colors:
$red: #844646;
$dark-grey: #333333;
$lt-grey: #777777;
$white: #FFFFFF;

// media breakpoints:
$mobile-width: 768px;

// font-sizes:

// Not sure how to do it, but there has to be a way of referrencing this with the font-size mixin:

// $fsize: (
// 1 12 16 10 14
// 2 14 20 12 16
// 3 16 22 14 20
// 4 18 24 16 22
// 5 36 44 24 32
// 6 56 64 36 44
// 7 72 80 44 56
// );

// @mixin font-size($fsize) {
//    font-size: $A px;
//    line-height: $B px; 
// @media  only screen and (max-width: $mobile-width){
//       font-size: $C px;
//       line-height: $D px;
//    }
// }

// Super wet code, but it should work: 
@mixin font-size1 {
   font-size: 12px;
   line-height: 16px;

   @media only screen and (max-width: $mobile-width) {
      font-size: 10px;
      line-height: 14px;
   }
}

@mixin font-size2 {
   font-size: 14px;
   line-height: 20px;

   @media only screen and (max-width: $mobile-width) {
      font-size: 12px;
      line-height: 16px;
   }
}

@mixin font-size3 {
   font-size: 16px;
   line-height: 22px;

   @media only screen and (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 20px;
   }
}

@mixin font-size4 {
   font-size: 18px;
   line-height: 24px;

   @media only screen and (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 22px;
   }
}

@mixin font-size5 {
   font-size: 36px;
   line-height: 44px;

   @media only screen and (max-width: $mobile-width) {
      font-size: 24px;
      line-height: 32px;
   }
}

@mixin font-size6 {
   font-size: 56px;
   line-height: 64px;

   @media only screen and (max-width: $mobile-width) {
      font-size: 36px;
      line-height: 44px;
   }
}

@mixin font-size7 {
   font-size: 72px;
   line-height: 80px;

   @media only screen and (max-width: $mobile-width) {
      font-size: 44px;
      line-height: 56px;
   }
}